<h2>New celebrity</h2>
<form action="/celebrities/create" method="POST">
    <input type="text" name="name" id="name" required placeholder="Name">
    <input type="text" name="occupation" id="occupation" required placeholder="occupation">
    <input type="text" name="catchPhrase" id="catchPhrase" required placeholder="catchPhrase">
    <button type="submit">Create</button>
</form>